# Assignment: Data Handling using Pandas â€” Air Quality Dataset

### Import the Pandas library to begin working with the dataset.

In [1]:
import pandas as pd

### Task 2: Read the CSV File

In [2]:
data = pd.read_csv('air_quality_global.csv')
data.head()

,city,country,latitude,longitude,year,month,pm25_ugm3,no2_ugm3,data_quality,measurement_method,data_source
0,New York,USA,40.7128,-74.006,1999,1,18.11,35.98,Moderate,Reference/Equivalent Method,EPA_AQS
1,New York,USA,40.7128,-74.006,1999,2,27.79,17.71,Good,Reference/Equivalent Method,EPA_AQS
2,New York,USA,40.7128,-74.006,1999,3,12.05,40.99,Moderate,Reference/Equivalent Method,EPA_AQS
3,New York,USA,40.7128,-74.006,1999,4,35.25,17.18,Poor,Reference/Equivalent Method,EPA_AQS
4,New York,USA,40.7128,-74.006,1999,5,38.39,25.07,Good,Reference/Equivalent Method,EPA_AQS

### Task 3: Explore the Dataset

#### Use Pandas to explore and summarize the dataset:

#### 1. Display number of rows and columns

In [15]:
data

,city,country,latitude,longitude,year,month,pm25_ugm3,no2_ugm3,data_quality,measurement_method,data_source
0,New York,USA,40.7128,-74.0060,1999,1,18.11,35.98,Moderate,Reference/Equivalent Method,EPA_AQS
1,New York,USA,40.7128,-74.0060,1999,2,27.79,17.71,Good,Reference/Equivalent Method,EPA_AQS
2,New York,USA,40.7128,-74.0060,1999,3,12.05,40.99,Moderate,Reference/Equivalent Method,EPA_AQS
3,New York,USA,40.7128,-74.0060,1999,4,35.25,17.18,Poor,Reference/Equivalent Method,EPA_AQS
4,New York,USA,40.7128,-74.0060,1999,5,38.39,25.07,Good,Reference/Equivalent Method,EPA_AQS
...,...,...,...,...,...,...,...,...,...,...,...
6475,Lagos,Nigeria,6.5244,3.3792,2025,8,54.42,24.15,Good,Federal Reference Method,WHO_Database
6476,Lagos,Nigeria,6.5244,3.3792,2025,9,42.11,50.54,Moderate,Federal Reference Method,WHO_Database
6477,Lagos,Nigeria,6.5244,3.3792,2025,10,23.76,32.17,Good,Federal Reference Method,WHO_Database
6478,Lagos,Nigeria,6.5244,3.3792,2025,11,47.28,45.53,Good,Federal Reference Method,WHO_Database
6479,Lagos,Nigeria,6.5244,3.3792,2025,12,24.82,41.82,Moderate,Federal Reference Method,WHO_Database

#### 2. Display column names

In [21]:
data.sample(0)

Empty DataFrame
Columns: [city, country, latitude, longitude, year, month, pm25_ugm3, no2_ugm3, data_quality, measurement_method, data_source]
Index: []

#### 3. Show dataset information using .info()

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6480 entries, 0 to 6479
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   city                6480 non-null   object
 1   country             6480 non-null   object
 2   latitude            6480 non-null   float64
 3   longitude           6480 non-null   float64
 4   year                6480 non-null   int64
 5   month               6480 non-null   int64
 6   pm25_ugm3           6480 non-null   float64
 7   no2_ugm3            6480 non-null   float64
 8   data_quality        6480 non-null   object
 9   measurement_method  6480 non-null   object
 10  data_source         6480 non-null   object
dtypes: float64(4), int64(2), object(5)
memory usage: 557.0+ KB

#### 4. Show summary statistics using .describe()

In [9]:
data.describe()

,latitude,longitude,year,month,pm25_ugm3,no2_ugm3
count,6480.000000,6480.000000,6480.000000,6480.000000,6480.000000,6480.000000
mean,31.535510,-35.877325,2012.000000,6.500000,40.968210,39.617276
std,16.603137,81.511132,7.789482,3.452319,36.303963,16.711882
min,-23.550500,-121.886300,1999.000000,1.000000,5.100000,10.250000
25%,29.244100,-98.653500,2005.000000,3.750000,19.337500,27.080000
50%,33.750300,-74.585600,2012.000000,6.500000,29.225000,36.845000
75%,40.142650,5.885650,2019.000000,9.250000,46.080000,48.922500
max,52.520000,139.650300,2025.000000,12.000000,274.180000,110.270000

### Task 4: Display Specific Columns
#### Display only the columns: city, country, pm25_ugm3, and no2_ugm3.

In [12]:
data[['city', 'country', 'pm25_ugm3', 'no2_ugm3']]

          city  country  pm25_ugm3  no2_ugm3
0     New York      USA      18.11     35.98
1     New York      USA      27.79     17.71
2     New York      USA      12.05     40.99
3     New York      USA      35.25     17.18
4     New York      USA      38.39     25.07
...        ...      ...        ...       ...
6475     Lagos  Nigeria      54.42     24.15
6476     Lagos  Nigeria      42.11     50.54
6477     Lagos  Nigeria      23.76     32.17
6478     Lagos  Nigeria      47.28     45.53
6479     Lagos  Nigeria      24.82     41.82

[6480 rows x 4 columns]

### Task 5: Filter Data
#### Filter and display records where pm25_ugm3 is greater than 50.

In [13]:
high_pm25 = data[data['pm25_ugm3'] > 50]
high_pm25

,city,country,latitude,longitude,year,month,pm25_ugm3,no2_ugm3,data_quality,measurement_method,data_source
327,Los Angeles,USA,34.0522,-118.2437,1999,4,53.68,26.69,Good,Reference/Equivalent Method,EPA_AQS
337,Los Angeles,USA,34.0522,-118.2437,2000,2,56.92,51.95,Good,Reference/Equivalent Method,EPA_AQS
341,Los Angeles,USA,34.0522,-118.2437,2000,6,56.19,69.27,Good,Reference/Equivalent Method,EPA_AQS
350,Los Angeles,USA,34.0522,-118.2437,2001,3,56.90,41.09,Poor,Reference/Equivalent Method,EPA_AQS
351,Los Angeles,USA,34.0522,-118.2437,2001,4,54.98,65.81,Good,Reference/Equivalent Method,EPA_AQS
...,...,...,...,...,...,...,...,...,...,...,...
6471,Lagos,Nigeria,6.5244,3.3792,2025,4,73.85,49.17,Good,Federal Reference Method,WHO_Database
6472,Lagos,Nigeria,6.5244,3.3792,2025,5,63.02,71.16,Good,Federal Reference Method,WHO_Database
6473,Lagos,Nigeria,6.5244,3.3792,2025,6,94.52,73.85,Good,Federal Reference Method,WHO_Database
6474,Lagos,Nigeria,6.5244,3.3792,2025,7,97.99,31.67,Good,Federal Reference Method,WHO_Database
6475,Lagos,Nigeria,6.5244,3.3792,2025,8,54.42,24.15,Good,Federal Reference Method,WHO_Database